@import "partials/settings";
@import "partials/foundation";

html {
  font-family: $font-family-sans-serif; 
  letter-spacing: 0.5px;
  
  a:-webkit-any-link {
    color: $jet;
    text-decoration: none;
  }
  body {
    .logo{
      text-align: center;
      height: 90px;
    }/*ends logo*/
  
    span {
      font-weight: bold;
    }/*ends span*/
  } /* ends body */
} /* ends html */

.wrapper {

  
  header {
    background: url("/images/header_bg.png");
    background-color: $primary-color;
    h1{ 
      color: $tuatara;
      font-size: 24px;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 20px;

    }/*ends h1*/

    .logo img {
      height: 170px;
      width: 170px;
    }/*ends logo*/

  .menu {
    font-weight: 200;
    margin-bottom: -30px;
    padding-top: 20px;
    border-radius: 7px;
    height: 66px;
    background-color: $tuatara;
    text-align: center;
    li {
      display: inline-block;
      font-size: 18px; 
      list-style-type: none;
      margin-right: 40px;
      a{
        color: $primary-color;
        &:hover { 
        color: $smoke; 
        font-weight: 400;
        }/*ends hover*/
      }/*ends a    */
    }/*ends li*/
  }/*ends menu  */
}/* ends header */

  .content {
    padding-top: 50px;
    .pitch.clearfix {
      width: auto;
    background-color: $primary-color;
    border-radius: 7px; 
      display: inline-block;
    .pitch-text {
      text-align: left; 
      color: $tuatara;
      width: 60%;
      float: left;

      p {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 50px;
        padding: 60px 0 0px 30px;
        letter-spacing: none;
      }/*ends p*/
    }/*ends .pitch-text*/

    .bull{
      float: right; 
      margin-right: 40px;  
      .ship {
        background-image: url("/images/ship.png");
        height: 220px;
        width: 350px;
        background-size: cover;
        background-position: center -71px;
        margin-top: -12px; 
      }/*ends ship*/
      a{
        font-weight: 200;
        font-size: 20px;
        display: inline-block;
        width: 300px;
        height: 70px;
        color: $smoke;
        background-color: $selection;
        text-align: center;
        padding-top: 20px;
        &:hover { 
          background-color: $hover_color; 
        }/*ends hover*/
      }/*ends a*/
    }/*ends bull*/
  }/*ends pitch*/


  .row{
    display: block;
    color: $white;
    text-align: center;
    letter-spacing: none;
    padding: 20px;
      
    h1{
      color: $white;
      font-weight: 300;
      margin-right: 40px;
      margin-left: 30px;
    }
    
    h4{
      font-weight: 600;
      color: $white;
    }    

    p{
      font-weight: 300;
      margin-right: 20px;
      margin-left: 30px;
    }
    .to-the-moon {

      
      padding: 20px 0 20px 0;
      border-radius: 7px;
      background-color: $cells;

      p {
        padding-top: 30px;
      }

      h1{
        font-size: 65px;
        padding-top: 20px;
        border-bottom: 10px solid $white;
      }
      h4{
        padding-bottom: 30px;
        border-bottom: groove $aluminum 2px; 
      }
    }/* ends .to-the-moon */

    .just-around-earth {


      padding: 20px 0px 20px 0;
      background-color: $cells;
      border-radius: 7px;
      p {
        padding-top: 30px;
      }
      h1{
        padding-top: 20px;
        font-size: 65px;
        border-bottom: 10px solid $white;
      }
      h4{
        padding-bottom: 30px;
        border-bottom: groove $aluminum 2px; 
      }
    }/* ends .just-around-earth */

    .just-center-deals { 
      padding: 20px 0 0 0;
      background-color: $cells;
      border-radius: 7px;      
      p{
        margin-bottom: 0;
        font-weight: 400;
        font-size: 15px;
      }
      h1{
        padding-bottom: 15px;
      }
      .jupiter {
        padding-top: 5px;
        border-bottom: groove $aluminum 2px;
      }
      .earths-core {
        padding-top: 20px;
      }
      .deals{
        border-top: groove $aluminum 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        a{ 
        font-weight: 300;
        font-size: 22px;
          color: $white;
          img {
        
            width: 40px;
          }
        }/* ends a*/ 
      }/*ends deals*/
    }/* ends .just-center-deals*/
  } /*ends rows*/
} /*ends content*/


.footer {
  color: $cells;
  padding-top: 40px;
  height: 100px;
  width: 100%;
  background-color: $footer;
  text-align: center;
  font-size: 15px;
}

}/* ends wrapper class*/
